{% extends 'base.html' %}

{% block title %}Home Page{% endblock title %}
{% block main %}
<section class="container">
    <div class="row mt-5 text-white text-center justify-content-around">
        <div class="col-sm-8 ">
            <h3>Add Player</h3>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-sm-4">
            <a href="{% url 'home' %}" class="btn float-end btn-primary">Home</a>
            <br>
            <form class="mt-5 p-3 rounded bg-white" action="{% url 'addPlayer' %}" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <label for="" class="label">Game:</label><br>
                <input class="form-control" name="game" type="text"><br>
                <label for="" class="label">Score:</label><br>
                <input class="form-control" name="score"  type="text"> <br>
                <input  type="submit" value="Add Player" class="btn btn-primary">
            </form>
        </div>
    </div>

</section>
{% endblock main %}